In [2]:
import pandas as pd
a=pd.read_csv("INC 5000 Companies 2019.csv")

In [3]:
a.head()

,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia

In [4]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5012 entries, 0 to 5011
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              5012 non-null   int64
 1   profile           5012 non-null   object
 2   name              5012 non-null   object
 3   url               5012 non-null   object
 4   state             5012 non-null   object
 5   revenue           5012 non-null   object
 6   growth_%          5012 non-null   float64
 7   industry          5012 non-null   object
 8   workers           5011 non-null   float64
 9   previous_workers  5012 non-null   int64
 10  founded           5012 non-null   int64
 11  yrs_on_list       5012 non-null   int64
 12  metro             4199 non-null   object
 13  city              5012 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 548.3+ KB

In [5]:
a.isnull().sum()

rank                  0
profile               0
name                  0
url                   0
state                 0
revenue               0
growth_%              0
industry              0
workers               1
previous_workers      0
founded               0
yrs_on_list           0
metro               813
city                  0
dtype: int64

In [6]:
a.dropna(inplace=True)

In [7]:
a=a.reset_index()

In [8]:
a.head()

,index,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood
2,2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin
3,4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia
4,5,6,https://www.inc.com/profile/cano-health,Cano Health,http://canohealth.com,FL,271.8 Million,14183.4118,Health,742.0,18,2009,1,Miami,Miami

In [9]:
for i in range(len(a["revenue"])):
    b=a.loc[i,"revenue"]
    if "Million" in b:
        b=b.replace(" Million","")
        a.loc[i,"revenue"]=float(b)*1000000
    else:
        b=b.replace(" Billion","")
        a.loc[i,"revenue"]=float(b)*1000000000

In [10]:
a.head()

,index,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36900000.0,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33600000.0,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood
2,2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24900000.0,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin
3,4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22500000.0,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia
4,5,6,https://www.inc.com/profile/cano-health,Cano Health,http://canohealth.com,FL,271800000.0,14183.4118,Health,742.0,18,2009,1,Miami,Miami

In [11]:
a.to_csv("INC 5000 Companies 2019.csv")

In [12]:
a.head()

,index,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36900000.0,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33600000.0,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood
2,2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24900000.0,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin
3,4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22500000.0,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia
4,5,6,https://www.inc.com/profile/cano-health,Cano Health,http://canohealth.com,FL,271800000.0,14183.4118,Health,742.0,18,2009,1,Miami,Miami